Assets/TutorialInfo/
Assets/Textures/
Assets/Models/
Assets/Scenes/
Assets/TextMesh Pro/
Assets/Settings/
Blender/
Packages/
ProfilerCaptures/
Library/
Logs/
ProjectSettings/
Temp/
UserSettings/
.vscode

*.csproj
*.slnx
*.meta